@keyframes slide {
  0%{ background-position-x:0%; }
  100% { background-position-x:100%; }
}

.Story-wrapper { position: relative; margin-top: 2rem; }

  .Story { display: flex; flex-direction: column; position: relative; padding: 1rem 2rem; border: 1px solid #f5f5f5;
    box-sizing: border-box; background-color: white; font-size: 1.4rem; text-align: left; user-select: none; border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem -0.8rem #bdbdbd }

    .Story-header { display: flex; align-items: center; }
    .Story-header-type { margin-right: 1.4rem; }
    .Story-header-id { margin-right: 2rem; text-decoration: none; color: inherit; user-select: none; }
    .Story-header-id.line-through { text-decoration: line-through}
      .Story-header-avatar { width: 2.8rem; height: 2.8rem; margin-left: auto; border-radius: 50%; }

    .Story-body { padding: 1rem 4.5rem 1rem 3rem; }
      .Story-body-title { height: 5rem; overflow: hidden; }

    .Story-footer { display: flex; justify-content: space-between; padding: 0 4.5rem 0 3rem; font-size: 1.2rem; }
      .Story-footer-epic {  padding: .5rem; text-overflow: ellipsis; white-space: nowrap;
        overflow: hidden; background: #ccc; border-radius: .5rem; }
      .Story-footer-points { position: absolute; bottom: 1rem; right: 1rem; min-width: 2.6rem; min-height: 2.4rem;
        padding: .5rem 1rem; border-radius: 40%; background: #ccc; box-sizing: border-box; }
