.line-through { text-decoration: line-through; }

.Story-wrapper { position: relative; }

  .Story-marker { position: absolute; top: 0; right: 0; width: 4rem; height: 100%; z-index: 1; }
  .Story-marker.ready-for-review { background: red; }
  .Story-marker.ready-for-test { background: blue; }
  .Story-marker.ready-for-merge { background: green; }

  .Story { display: flex; flex-direction: column; position: relative; padding: 1rem; border: 1px solid #ccc;
    box-sizing: border-box; background: white; font-size: 1.4rem; text-align: left; user-select: none; }

    .Story-header { display: flex;  }
      .Story-header-type { margin-right: 1.4rem; }
      .Story-header-avatar { position: absolute; top: 1rem; right: 1rem; width: 3.2rem; height: 3.2rem; border-radius: 50%; }

    .Story-body { padding: 1rem 4.5rem 1rem 3rem; }
      .Story-body-title { height: 5rem; overflow: hidden; }

    .Story-footer { display: flex; justify-content: space-between; padding: 0 4.5rem 0 3rem; font-size: 1.2rem; }
      .Story-footer-epic {  padding: .5rem; text-overflow: ellipsis; white-space: nowrap;
        overflow: hidden; background: #ccc; border-radius: .5rem; }
      .Story-footer-points { position: absolute; bottom: 1rem; right: 1rem; min-width: 2.6rem; min-height: 2.4rem;
        padding: .5rem 1rem; border-radius: 40%; background: #ccc; box-sizing: border-box; }
