.line-through { text-decoration: line-through; }
.gradient { background: repeating-linear-gradient(-45deg,red,red 20px,blue 20px,blue 40px);
  background-size: 56px 56px;
  background-position-x: 0%;
  animation: slide 20s infinite linear forwards; }

  @keyframes slide {
    0%{ background-position-x:0%; }
    100% { background-position-x:100%; }
}

.Story-wrapper { position: relative; margin-top: 2rem; }

  .Story { display: flex; flex-direction: column; position: relative; padding: 1rem 2rem; border: 1px solid #ddd;
    box-sizing: border-box; background-color: white; font-size: 1.4rem; text-align: left; user-select: none; border-radius: 3rem; }

    .Story-header { display: flex; align-items: center; }
      .Story-header-type { margin-right: 1.4rem; }
      /* .Story-header-avatar { position: absolute; top: 1rem; right: 1rem; width: 3.2rem; height: 3.2rem; border-radius: 50%; } */
      .Story-header-avatar { width: 2.8rem; height: 2.8rem; margin-left: auto; border-radius: 50%; }

    .Story-body { padding: 1rem 4.5rem 1rem 3rem; }
      .Story-body-title { height: 5rem; overflow: hidden; }

    .Story-footer { display: flex; justify-content: space-between; padding: 0 4.5rem 0 3rem; font-size: 1.2rem; }
      .Story-footer-epic {  padding: .5rem; text-overflow: ellipsis; white-space: nowrap;
        overflow: hidden; background: #ccc; border-radius: .5rem; }
      .Story-footer-points { position: absolute; bottom: 1rem; right: 1rem; min-width: 2.6rem; min-height: 2.4rem;
        padding: .5rem 1rem; border-radius: 40%; background: #ccc; box-sizing: border-box; }
