.Login { width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; }
  .Login-title { font-size: 3.6rem; font-weight: 200; }

  .Login-form { display: flex; flex-direction: column; }
    .Login-input { width: 40rem; height: 5rem; margin-bottom: 2rem; padding: 1rem 2rem; border: 1px solid grey;
      border-radius: 3rem; box-sizing: border-box; font-size: 2rem; font-weight: 200; }
    .Login-button { width: 40rem; height: 5rem; border-radius: 3rem; font-size: 2rem; color: white; background: green;
      cursor: pointer; }
    .Login-button:disabled { cursor: not-allowed; background: grey; }